@{ 
    Layout = null;
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link href="~/StyleSheet.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <p>Welcome to the AsyncInn Inventory Manager</p>
</body>
</html>